#header{
	border-radius:5px;
	background: lightblue; 
	padding: 5px;
	//width:1000px; 
	height: 100%; 
	margin:0;
}

#messages {
	border-radius:5px;
	background: lightgreen;
	padding: 5px; 
	//width:1000px; 
	height: 100%; 
	margin-top:5px; 
	//display: inline-block;
}

#main-content {
	border-radius:5px;
	float:left; 
	background: #fffff0; 
	//width:700px; 
	width:65%; 
	height:400px;
	margin:5px;
	padding: 5px;
}

#sidebar {
	border-radius:5px;
	float:right; 
	background: lightgrey; 
	//width:300px; 
	width:30%; 
	height:400px; 
	margin:5px;
	padding: 5px;
}



#footer {
	border-radius:5px;
	background: lightblue; 
	//width:1000px; 
	//width:100%;
	height:100%; 
	margin:0 auto; 
	//display: inline-block;
	clear:both;
	padding: 5px;
}